*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

body{
    background-color: #000;
}

.nav{
    background-color: #252525;
    width: 100%;
}

.head-link{
    margin: 3px;
    padding: 10px;
    color: white;
    display: inline-block;
    transition: 0.5s;
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
}

.head-link:hover{
    color: #aaa;
}

.container{
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    display: grid;
}

.head-p{
    padding: 8px;
    font-family: 'PT Sans', sans-serif;
    font-size: 22px;
}

.box{
    color: white;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    background-color: #252525;
}

iframe{
    width: 100%;
    min-height: 300px;
}
