*{
    margin: 0;
    transition: all 0.5s;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

body{
    background-color: #000;
}

.nav{
    background-color: #252525;
    width: 100%;
}

.head-li, .head-link{
    margin: 3px;
    padding: 8px;
    color: white;
    display: inline-block;
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
}

.head-li:hover, .head-link:hover{
    color: #aaa;
}

.container{
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    display: grid;
}

.head-p{
    padding: 8px;
    font-family: 'PT Sans', sans-serif;
    font-size: 22px;
}

.box{
    color: white;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    background-color: #252525;
}

.box:hover{
    box-shadow: 13px 13px 35px -10px #1a1919;
    transform: scale(1.0234);
}

iframe{
    width: 100%;
    min-height: 300px;
    border-radius: 5px;
}

.div-disclaimer{
    background-color: white;
    border-top: 5px solid #252525;
    height: 30px;
}

.disclaimer{
    font-size: 20px;
    color: black;
    text-align: center;
}
